@charset "utf-8";
/*  Global Styles
-------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
    color:#2A363B;
    margin: 0px;
    padding: 0px;
    font-family: 'Alegreya Sans';
    font-size: 18px;
    line-height: 1.6;
    
}

img {  
    width:300px;
}

h1 {
    font-size: 75px;
    margin: 5px;
    color: rgba(255, 32, 88, 0.7);
    text-shadow: 7px 7px 0 rgb(131, 189, 126);
    
}
h2 {
    margin: 0;
    font-size: 30px;
}

.content-wrap {
    width: 700px;
    margin: 0 auto;
    padding: 60px 0;


}


.herobanner {
	
    height: auto;
	width: inherit;
}


/*  Profile
-------------------------*/
header { 
    background: #2A363B;
    color: #F7FFF7;
}


/*  Projects
-------------------------*/
.projects {
    color:#2A363B;
    background: #F7FFF7;
    border-style: solid;
    border-width: 5px;
    border-color: #E84A5F;
    
}


.projects .btn { 
    color: #F7FFF7;
    background: rgb(241, 170, 153);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgb(232,74,95,80%);
    
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dashed;
    padding: 25px 0;
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}





/*  Education
-------------------------*/
.education {
color:#2A363B;
background-color: #FECEAB;
    
}


/*  Contact Info
-------------------------*/
footer {
    background: #2A363B;
    color: #F7FFF7;
    

}
/*  Navbar/Dropdown
-------------------------*/
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #2A363B;
  border: 0px;
  margin: 0px;
}
li {
  float: left;
  font-size: 20px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #E84A5F;
}

nav {
  font-size: 1rem;
}
nav ul {
  display: flex;
  justify-content: center;
}
.dropdown:hover {
  background-color: #E84A5F; 
  float: left;
  overflow: hidden;


}


.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 16px 18px;
  background-color: inherit;
  font-family: inherit;
  margin-bottom: 1px; 
  margin-top: 2px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(253, 228, 209);
  
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 18px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}


.dropdown-content a:hover {
  background-color: #FECEAB;
}

.dropdown:hover .dropdown-content {
  display: block;
  
}

#SocialCTA {
  text-align: center;
  margin-bottom: 5px;
}