@charset "utf-8";
/*  Global Styles
-------------------------*/

body {
    color: #343434;
    margin: 0px;
    padding: 0px;
    font-family: 'Alegreya Sans';font-size: 18px;
    }
}

img {  
    width:300px;
}

h2{
    margin: 0;
}

.content-wrap {
    width: 700px;
    margin: 0 auto;
    padding: 60px 0;


}


.herobanner {
	
    height: auto;
	width: inherit;
}


/*  Profile
-------------------------*/
header { 
    background: #FF847C;
    color: #F7FFF7;
}


/*  Projects
-------------------------*/
.projects {
    background: #F7FFF7;
    border-style: solid;
    border-width: 5px;
    border-color: #E84A5F;
    
}


.projects .btn { 
    color: #F7FFF7;
    background: rgb(241, 170, 153);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgb(232,74,95,80%);
    
}


/*  Work Experience
-------------------------*/
.work {
    background: #A1C6D7;
}


/*  Education
-------------------------*/
.education {
    background: #FECEAB ;
    
}


/*  Contact Info
-------------------------*/
footer {
    background: #2A363B;
    color: #F7FFF7;
    

}

a {
    color: #E84A5F;
}

a:hover {
    text-decoration: none;
}