@charset "utf-8";
/*  Global Styles
-------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


body {
    color:#2A363B;
    margin: 0px;
    padding: 0px;
    font-family: 'Alegreya Sans';
    font-size: 18px;
    line-height: 1.6;
    
}

img {  
    width:300px;
}

h1 {
    font-size: 75px;
    margin: 5px;
    color: rgba(255, 32, 88, 0.7);
    text-shadow: 7px 7px 0 rgb(131, 189, 126);
    
}
h2 {
    margin: 0;
    font-size: 30px;
}

.content-wrap {
    width: 700px;
    margin: 0 auto;
    padding: 60px 0;


}


.herobanner {
	
    height: auto;
	width: inherit;
}


/*  Profile
-------------------------*/
header { 
    background: #2A363B;
    color: #F7FFF7;
}


/*  Projects
-------------------------*/
.projects {
    color:#2A363B;
    background: #F7FFF7;
    border-style: solid;
    border-width: 5px;
    border-color: #E84A5F;
    
}


.projects .btn { 
    color: #F7FFF7;
    background: rgb(241, 170, 153);
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgb(232,74,95,80%);
    
}

.project-item {
    overflow: hidden;
    border-bottom: 1px dashed;
    padding: 25px 0;
}

.project-item img {
    float: left;
    margin-right: 20px;
}

.project-item h3 {
    margin-top: 0;
}



/*  Work Experience
-------------------------*/
.work {
    background: #A1C6D7;
}


/*  Education
-------------------------*/
.education {
    background: #FECEAB ;
    color:#2A363B;
    
}


/*  Contact Info
-------------------------*/
footer {
    background: #2A363B;
    color: #F7FFF7;
    

}

a {
    color: #E84A5F;
}

a:hover {
    text-decoration: none;
}